:root {
    --main-bg-color: #f8f9fa;
    --primary-text-color: #a0522d;
}

#sidebar-wrapper {
    min-height: 100vh;
    width: 250px;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .list-group-item {
    padding: 1.5rem 1.5rem;
    border: none;
}

#sidebar-wrapper .list-group-item.active {
    background-color: transparent;
    color: var(--primary-text-color) !important;
    font-weight: bold;
    border-left: 5px solid var(--primary-text-color);
}

.primary-text {
    color: var(--primary-text-color);
}

.secondary-bg {
    background-color: #fcece3;
}

.rounded-full {
    border-radius: 100%;
}

#page-content-wrapper {
    width: 100%;
    background-color: var(--main-bg-color);
}